@switch (step) {
  @case ('signin') {
    <app-signin (afterSignin)="afterSignin($event)"></app-signin>
  }
  @case ('list-elections') {
    <app-list-elections [elections]="elections" (selectElection)="afterSelectElection($event)"></app-list-elections>
  }
  @case ('election-details') {
    <app-election-details [electionId]="selectedElectionId" [session]="session" (onBack)="onBackFromDetails()"></app-election-details>
  }
  @default {
    <p>Unknown step</p>
  }
}

<ngx-loading [show]="loading"></ngx-loading>
