<div class="d-flex flex-column">
  <h1>{{ election?.name }}</h1>

  <h3> Eleição para escolher o novo síndico, responsável pela administração e cuidados com o condomínio. </h3>

  <div class="d-flex flex-row mb-3 mt-2 w-100 justify-content-between align-items-center">

    <button mat-flat-button color="primary" class="flex-fill me-2" [disabled]="election?.hasVoted">
      Votar
    </button>

    <button mat-stroked-button color="primary" class="flex-fill ms-2">
      Apurar
    </button>

  </div>

  <button mat-raised-button color="basic" class="w-100">
    Voltar
  </button>

</div>
